.mat-card {
  max-width: 300px;
  margin: auto;
}

.mat-card-avatar {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Maguari_Stork_%28Ciconia_maguari%29.jpg/420px-Maguari_Stork_%28Ciconia_maguari%29.jpg');
  background-size: cover;
}

.mat-card-actions {
  display: flex;
}

.mat-card-actions .flex-spacer {
  width: 100%;
}
