<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav">
    <button color="primary" mat-button routerLink="/birds/info">Passaros</button>
    <button color="primary" mat-button routerLink="/sightings">Avistamentos</button>
    <button color="primary" mat-button routerLink="/users">Usuários</button>
    <button color="primary" mat-button routerLink="/messages">Mensagens</button>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <span>Title</span>
        <span class="spacer"></span>
        <mat-icon>favorite</mat-icon>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>note_add</mat-icon>
            <span>Criar Ave</span>
          </button>
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Editar Ave</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>favorite</mat-icon>
            <span>Favoritar Ave</span>
          </button>
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Excluir Ave</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
