<mat-card class="mat-elevation-z8">

  <mat-toolbar color="primary">Cadastro de Ave</mat-toolbar>

  <mat-card-content>

    <form [formGroup]="form" >
      <mat-form-field class="full-width">
        <mat-label>Nome em Português</mat-label>
        <input matInput placeholder="Nome da Ave" formControlName="namePtBr" required>
      </mat-form-field>


      <mat-form-field class="full-width">
        <mat-label>Nome em Inglês</mat-label>
        <input matInput placeholder="Nome da Ave" formControlName="nameEng" required>
      </mat-form-field>


      <mat-form-field class="full-width">
        <mat-label>Nome em Latim</mat-label>
        <input matInput placeholder="Espécie da Ave" formControlName="species" required>
      </mat-form-field>


      <mat-form-field class="full-width">
        <mat-label>Família</mat-label>
        <input matInput placeholder="Família da Ave" formControlName="family" required>
      </mat-form-field>


      <mat-form-field intLabel="always" class="full-width">
        <mat-label>Tamanho</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0" formControlName="size" required>
        <span matSuffix>cm</span>
      </mat-form-field>


      <mat-form-field class="full-width">
        <mat-label>Sexo da Ave</mat-label>
        <mat-select  formControlName="gender" required>
          <mat-option value="Jovem">Jovem</mat-option>
          <mat-option value="Fêmea">Fêmea</mat-option>
          <mat-option value="Macho">Macho</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Cor Predominante</mat-label>
        <mat-select  formControlName="color" required>
          <mat-option value="Amarela">Amarela</mat-option>
          <mat-option value="Bege">Bege</mat-option>
          <mat-option value="Branca">Branca</mat-option>
          <mat-option value="Cinza">Cinza</mat-option>
          <mat-option value="Marrom">Marrom</mat-option>
          <mat-option value="Preta">Preta</mat-option>
          <mat-option value="Verde">Verde</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Endereço da Foto</mat-label>
        <input matInput placeholder="http://site.com/foto.jpg" formControlName="photo" required>
      </mat-form-field>


      <mat-form-field class="full-width">
        <mat-label>(Habitat) Campo do tipo:</mat-label>
        <mat-select multiple  formControlName="habitat">
          <mat-option value="campo seco baixo">Campo Seco Baixo</mat-option>
          <mat-option value="campo alagado, campo úmido, várzeas alagadas">Várzea/Campo Alagado ou Úmido</mat-option>
          <mat-option value="banhado com espelho d'água">Banhado com Espelho D'água</mat-option>
          <mat-option value="campo seco alto, campo sujo">Campos Seco Alto ou "Sujo"</mat-option>
          <mat-option value="campo com árvores, arbustos ou arvoretas">Campo com Árvores, Arbustos ou Arvoretas</mat-option>
          <mat-option value="banhado com vegetação alta em geral palha ou gravatá, sem espelho d'água">Banhado com Vegetação Alta, Sem Espelho D'água</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <section class="section" [formGroup]="form">
        <h4>Selecione o(s) Hábitat(s)</h4>
        <p><mat-checkbox formControlName="secoBaixo">Campo seco baixo</mat-checkbox></p>
        <p><mat-checkbox formControlName="alagado">Campo Alagado, Campo Úmido, Várzeas Alagadas</mat-checkbox></p>
        <p><mat-checkbox formControlName="banhado">Banhado Com Espelho D'água</mat-checkbox></p>
        <p><mat-checkbox formControlName="secoAlto">Campo Seco Alto, Campo Sujo</mat-checkbox></p>
        <p><mat-checkbox formControlName="arvores">Campo com Árvores, Arbustos ou Arvoretas</mat-checkbox></p>
        <p><mat-checkbox formControlName="banhadoAlto">Banhado com Vegetação Alta, Palha ou Gravatá, <br>Sem Espelho D'água</mat-checkbox></p>
      </section> -->

      <!-- <section class="example-section" [formGroup]="habitat">
        <h4>You chose:</h4>
        {{habitat.value | json}}
      </section> -->

    </form>

  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">SALVAR <mat-icon>save</mat-icon></button>
    <button mat-raised-button (click)="onCancel()">CANCELAR <mat-icon>delete</mat-icon></button>
  </mat-card-actions>

</mat-card>
