<mat-tab-group>
  <mat-tab label="Encontradas">
    <ng-template matTabContent>
      <p>Encontradas aqui.</p>
    </ng-template>
  </mat-tab>
  <mat-tab label="Procuradas">
    <ng-template matTabContent>
      <p>Procuradas aqui.</p>
    </ng-template>
  </mat-tab>
  <mat-tab label="Futuras">
    <ng-template matTabContent>
      <p>Futuras aqui.</p>
    </ng-template>
  </mat-tab>
</mat-tab-group>


<!-- <ng template matTabContent> for 'lazy fetch'
  so it won't load all of the queries all at once -->
